version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "deps"
    ignore:
      - dependency-name: "Microsoft.NET.Test.Sdk"
        versions: ["*"] 
