services:
  catalogdb:
    image: postgres

  basketdb:
    image: postgres

  distributedcache:
    image: redis

  orderdb:
    image: mcr.microsoft.com/mssql/server

  messagebroker:
    image: rabbitmq:management

  catalog.api:
    build:
      context: ./Services/Catalog/Catalog.API
      dockerfile: Dockerfile

  basket.api:
    build:
      context: ./Services/Basket/Basket.API
      dockerfile: Dockerfile

  discount.grpc:
    build:
      context: ./Services/Discount/Discount.Grpc
      dockerfile: Dockerfile

  ordering.api:
    build:
      context: ./Services/Ordering/Ordering.API
      dockerfile: Dockerfile

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.3

  kibana:
    image: docker.elastic.co/kibana/kibana:8.17.3
    depends_on:
      - elasticsearch


volumes:
  postgres_catalog:
  postgres_basket:
  elasticsearch_data:
